fastapi==0.111.0
uvicorn==0.30.0
langchain==0.2.5
langchain-groq==0.1.5
langchain-community==0.2.5
langchainhub==0.1.21
duckduckgo-search==6.3.2
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic==2.7.1
reportlab==4.1.0